body {
    font-family: "varela round";
    min-height: 100vh;
}

.jumbotron {
    background: linear-gradient(45deg, black, transparent);
}

.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 26px 30px -14px rgba(93, 96, 100, 1.08) !important;
}

.card-body > p {
    /* text-shadow: 1px 1px 0 rgba(0,0,0,.35), 1px 1px 5px rgba(0,0,0,.5); */
    font-weight: bolder;
    font-size: 17px;
}
